<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



    <settings>
      <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
      <!--<setting name="autoMappingBehavior" value="FULL"/>-->
      <!--<setting name="proxyFactory" value="CGLIB"/>-->
      <!--<setting name="lazyLoadingEnabled" value="true"/>-->
      <!--<setting name="aggressiveLazyLoading" value="false"/>-->
      <!-- 一级缓存 -->
      <setting name="localCacheScope" value="STATEMENT"/>
      <!-- 二级缓存 -->
      <setting name="cacheEnabled" value="false"/>
    </settings>

  <!--<plugins>-->
    <!--<plugin interceptor="org.zk.plugin.SqlTimePlugin"></plugin>-->
  <!--</plugins>-->

  <typeAliases>
    <package name="org.zk.domain"/>
  </typeAliases>

    <environments default="development">
        <environment id="development">
            <!-- 事务管理类型，JDBC表示直接使用JDBC的提交和回滚设置，依赖于数据源得到的连接来管理事务 -->
            <transactionManager type="JDBC" />
            <!-- 数据库连接池POOLED表示使用数据库连接池 -->
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/zk?serverTimezone=GMT%2B8" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- SQL代码和映射信息配置文件 -->
        <mapper resource="mappers/UserMapper.xml" ></mapper>
        <mapper resource="mappers/OrderMapper.xml" ></mapper>
    </mappers>



</configuration>
